---
import ThemeToggle from "../ThemeToggle.astro";
---

<div class="w-full shadow-md h-(--header-height) px-2 py-1">
  <div class="flex items-center justify-between w-full h-full">
    <div>
      <img class="h-8" src="/images/logo.svg" alt="logo" />
    </div>

    <div>
      <ThemeToggle />
    </div>
  </div>
</div>
