---
import Layout from "../layouts/Layout.astro";
import CenterSection from "../components/layout/CenterSection.astro";
import HomeHero from "../components/home/Hero.astro";
import HomeAbout from "../components/home/About.astro";
import Skills from "../components/home/Skills.astro";
import Experience from "../components/home/Experience.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section
    id="hero"
    class="flex flex-col justify-center min-h-[calc(100vh-var(--header-height))] mt-12 md:mt-0"
  >
    <HomeHero />
  </section>

  <CenterSection id="about">
    <HomeAbout />
  </CenterSection>

  <CenterSection id="skills">
    <Skills />
  </CenterSection>

  <CenterSection id="experience">
    <Experience />
  </CenterSection>
</Layout>

<script is:inline>
  // Verificar el tema al cargar la página
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
